{
	auto_https off
}
:5001

root * /srv
file_server

log {
	level WARN
}
encode gzip

redir /admin /admin/

handle_path /admin/ {
	try_files {path} /admin.html
}
handle {
    try_files {path} /generated_index.html
}


templates /app_config* {
	mime application/javascript
}

header /generated_index.html {
	Cache-Control max-age=0,no-cache,no-store,must-revalidate
}

header /admin.html {
	Cache-Control max-age=0,no-cache,no-store,must-revalidate
}
