$lowRisk: #77e65c;
$mediumRisk: #fffd3b;
$mediumHighRisk: #ff863a;
$highRisk: #ff1c23;
$unknownRisk: #6199d1;

:export {
  lowRiskColor: $lowRisk;
  mediumRiskColor: $mediumRisk;
  mediumHighRiskColor: $mediumHighRisk;
  highRiskColor: $highRisk;
  unknownRiskColor: $unknownRisk;
};
