@import './media.scss';
@import './colors.scss';

html, body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.weatherLink {
  font-weight: bold;
  font-size: 1.2em;
}

.risk-LOW {
  background-color: $lowRisk;
}

.risk-MEDIUM {
  background-color: $mediumRisk;
}

.risk-MEDIUM_HIGH {
  background-color: $mediumHighRisk;
}

.risk-HIGH {
  background-color: $highRisk;
}

.risk-UNKNOWN {
  background-color: $unknownRisk;
}

table {
  border-top: 2px solid #555;
  border-bottom: 2px solid #555;
  margin-bottom: 4px;
  margin-top: 4px;
  border-collapse: collapse;

  td {
    text-align: center;
    &.left {
      text-align: left;
    }
  }

  thead {
    tr {
      border-bottom: 2px solid #555;
      background: #dddddd;
    }

    th {
      text-align: center;
    }
  }

  tbody {
    tr:nth-child(2n) {
      background: #eee;
    }
  }
}


