@import "~leaflet/dist/leaflet.css";

@import '../shared/common.scss';

$headerHeight: 88px;
$phoneMapHeight: 300px;

#msa {
  position: fixed;
  margin: 0;
  padding: 0;

  @include phone() {
    top: $headerHeight;
    height: $phoneMapHeight;
    right: 0;
    left: 0;
  }
  @include tablet() {
    top: $headerHeight;
    bottom: 0;
    right: 0;
    left: 200px;
  }
  @include desktop() {
    top: $headerHeight;
    bottom: 0;
    right: 0;
    left: 400px;
  }
}

#sidebar {
  position: fixed;
  background: white;

  @include phone() {
    top: $headerHeight+$phoneMapHeight;
    bottom: 0;
    left: 0;
    right: 0;
  }
  @include tablet() {
    top: $headerHeight;
    bottom: 0;
    left: 0;
    width: 200px;
  }
  @include desktop() {
    top: $headerHeight;
    bottom: 0;
    left: 0;
    width: 400px;
  }
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#header {
  background-color: $logoBackground;
  overflow: hidden;
  padding: 16px 16px;
  margin: 0;
}

#sidebar-internal {
  position: relative;
  padding: 0.5rem 1rem;
  background-color: white;
  font-size: 16px;
}

div.legend {
  background: white;
  padding: 0.5rem;

  h4 {
    padding: 0;
    margin: 0 0 0.125rem;
    text-align: center;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      color: black;
      list-style: none;
      text-align: center;
      padding: 0.125rem 0.25rem;
      margin: 0;
    }
  }
}

div.tileLayerSelector {
  background: white;
  padding: 0.5rem;

  h4 {
    padding: 0;
    margin: 0 0 0.125rem;
    text-align: center;
  }
}

.worksheetLinkFlexbox {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  width: 100%;
  align-items: stretch;

  .worksheetLinkFlexcard {
    display: flex;


    a.worksheetLink {
      display: block;
      background: $linkBackground;

      //height: 100%;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 6px 16px;
      text-align: center;
      vertical-align: middle;
      margin-left: 4px;
      margin-right: 4px;
      text-decoration: none;
      font-size: 12px;
      font-family: ‘BCSans’, ‘Noto Sans’, Verdana, Arial, sans-serif;
      letter-spacing: 1px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
        opacity: 0.80;
      }

    }
  }
}
