<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>NMP MSA</title>

    <% if (googleAnalyticsEnabled) { %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src='https://www.googletagmanager.com/gtag/js?id={{env "GA_PROPERTY"}}'></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{env "GA_PROPERTY"}}');
    </script>
    <% } %>


    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div id="root"></div>

<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>
</body>
</html>
